h1,h3{font-family: 'Julius Sans One';text-align: center;}
		h2,a{font-family: 'Crimson Text'}

		.container {
			margin-right: 40px;
			margin-left: 20px;

		}
		.header {
			padding-top: 20px;
			display: flex;
			flex-direction: row;
			border-bottom:solid;
		}
		.header-left {
			align-self: center;
		}
		.header-right {
			margin-left: auto;
			text-align: right;
		}
		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 40px;
		}
		.hero {
			align-self: center;
			
		}
		.featured-items-list {
			display: flex;
			padding-bottom: 40px;
			justify-content: center;
			align-items:  center;
		}
		.featured-items {
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-content: center;
			margin: auto;
			
		}
  
		}
		.title {
			display: flex;
			justify-content: center;
			align-self: center;
		}

		img {
			border-radius: 6px;
		}

		@media screen and (max-width: 745px) {
			.featured-items-list {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}
			img, body {
				width: 100%;
				border-radius: 10px;
			}
		}

		@media screen and (min-width: 980px) {
			.container {
				margin-left: auto;
				margin-right: auto;
				width: 980px;
			}
			
		}
